*{
    margin: 0;
    padding: 0;
    
}

.logo svg{
fill: rgb(229, 9, 20);
width: 9.25rem;
height: 2.5rem;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sign-in{
    text-decoration: none;
    background-color: red;
    color:white ;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}